
@model OnlineVideoStreaming.Models.Video

@{
    ViewData["Title"] = "Home";
    List<Video> videoList = ViewData["VideoList"] as List<Video>;
    
}


@*<form asp-action="CreateVideo">
    <button>Create video</button>
</form>
*@


@foreach (Video video in videoList)
{


    <form asp-action="DisplayVideo" method="get" class="video-wrapper-form">
        <input type="hidden" name="VideoId" value="@video.Id" />
        <button class="video-wrapper-btn" type="submit">
            <iframe width="420"
                height="240"
                src="@video.Source"
                frameborder="0"
                allowfullscreen>
            </iframe>

            
            <br/>
            <p>
            <span class="video-name">@video.VideoName</span>
            <br/>
            <span class="video-stats">@video.Likes likes</span>
            &nbsp;&nbsp;
            <span class="video-stats">@video.Views views</span>
            </p>
            @*<p><b>@video.Channel</b></p>*@
            

        </button>
       

    </form>
}