
@model OnlineVideoStreaming.Models.User
@{
    ViewData["Title"] = "Signin";
    List<Video> videoList = ViewData["VideoList"] as List<Video>;
}


<form asp-action="CreateVideo">
    <button>create video</button>
</form>
<iframe width="560"
        height="315"
        src="~/my.mp4"
        frameborder="0"
        allowfullscreen>
</iframe>
<video src="~/my.mp4">

</video>
@foreach (Video video in videoList)
{
    <h1>@video.VideoName</h1>
    <h2>@video.Source</h2>
    <iframe width="560"
                height="315"
                src="@video.Source"
                frameborder="0"
                allowfullscreen>

        </iframe>
    <!--<video width="320" height="240" controls>-->
    @*<source src="@video.Source" type="video/mp4">*@
    <!--<source src="@video.Source" type="video/webm">

        Your browser does not support the video tag.
    </video>-->
    @*<video src="@video.Source" controls="true"></video>*@
    <video autoplay controls src="@video.Source"></video>
}