@model OnlineVideoStreaming.Models.Video

@{
    ViewData["Title"] = "Show Video";
    List<Video> videoList = ViewData["VideoList"] as List<Video>;

}





@foreach (Video video in videoList)
{


    <div>

        <div>
            <iframe width="420"
                height="240"
                src="@video.Source"
                frameborder="0"
                allowfullscreen>
            </iframe>
            <br />
            <p>
                <span>@video.VideoName</span>
                <br />
                <span>@video.Likes likes</span>
                &nbsp;&nbsp;
                <span>@video.Views views</span>
            </p>
            <form asp-action="LikeVideo" method="get">
                <input type="hidden" value="@video.Id" />
                <button type="submit">Like</button>
            </form>
        </div>
        <div>
            <p>video</p>
        </div>

    </div>
}